body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-image: url("./data/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  text-align: center;
  font-size: 3rem;
  margin: 5px;
  color: #4caf50;
  /*give h1 a transparent background so it stands out over the image*/
  background-color: rgba(255, 255, 255, 0.925);
  padding: 40px;
  border-radius: 5px;
}

hr {
  width: 40%;
  margin: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 300px;
  height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.card h2 {
  font-size: 1.5em;
  margin: 0;
}

.card h3 {
  font-size: 1.2em;
  margin: 0;
  margin-top: 10px;
}

.card p {
  font-size: 1em;
  margin: 0;
  margin-top: auto;
}

.card a {
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #4caf50;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.card a:hover {
  background-color: #3e8e41;
}

.card a:active {
  scale: 1.01;
}

.card a:focus {
  outline: none;
}
